{% extends 'base.html.twig' %}

{% block title %}Hello DealsController!{% endblock %}

{% block body %}
    {% for deal in deals %}
        <div>
            <button>
                <a href="#">
                    <h2>{{ deal.title }}</h2>
                    <p>{{ deal.description }}</p>
                </a>
            </button>
        </div>
    {% endfor %}
{% endblock %}
